/* Grand Central Station. TOC. Vertex. A Hub. */

@import "grid";
@import "player";
@import "global";
@import "media-queries";

body 
{background: black;}

h1 
{color:'$secondary-color';
font-family: 'Anton', sans-serif;
    
    
    
}

p 
{color:$text-color;
font-family:'Exo 2', sans-serif;

    
    
    
}
